.faceContainer {
    position: relative;
    height: 100%;
    width: 100%;

    .face {
        width: 100%;
    }

    .shea {
        position: absolute;
        width: 25%;
        height: 5%;
        top: 30%;
        left: 50%;
    }

    .liam {
        position: absolute;
        width: 30%;
        height: 20%;
        top: 15%;
        left: 25%;
    }

    .matt {
        position: absolute;
        width: 35%;
        height: 20%;
        top: 15%;
        left: 30%;
    }
}